<h1>Editing cargo</h1>

<%= render "form", cargo: @cargo %>

<br>

<div class="btn-group my-5">
  <%= link_to "Show this cargo", @cargo, class: "btn btn-sm btn-outline-dark" %>
  <%= link_to "Back to cargos", cargos_path, class: "btn btn-sm btn-outline-dark" %>
</div>
